.mainScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh; /* Use 100% of the viewport height */
  }
  
  .mainScreen__whiteboard {
    width: 80%;
    border: 2px solid #ccc;
    margin: 20px;
    /* Add other styles as needed */
  }
  
  .mainScreen__inventory {
    width: 80%;
    border: 2px solid #ccc;
    margin: 20px;
    /* Add other styles as needed */
  }
  
  .mainScreen__chatBot {
    width: 80%;
    height: 200px; /* Adjust based on your design */
    border: 2px solid #ccc;
    margin: 20px;
    /* Add other styles as needed */
  }

  /* Add to MainScreen.css or wherever your global styles are defined */
  .logout-button {
    position: fixed; /* Fixed or absolute depending on your layout */
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    width: 100px; /* Match the size of your image */
    height: 100px; /* Match the size of your image */
    background-color: transparent; /* No background color */
    border: none; /* No border */
    cursor: pointer; /* Cursor changes to pointer on hover */
  }

  .clickable-area {
    position: absolute;
    top: 42%;  /* adjust as necessary */
    left: 51%; /* adjust as necessary */
    transform: translate(-50%, -50%);
    width: 520px;  /* size of the clickable area */
    height: 350px; /* size of the clickable area */
    
    cursor: pointer;
    z-index: 2; /* ensure it's above the base elements */
  }
  
  .slide-panel {
    position: fixed;
    left: 0;
    right: 0;
    bottom: -100%; /* Start off-screen */
    height: 100vh; /* Height to cover the whole screen */
    background-image: url('/Users/aminaisayeva/Desktop/pizza/columbia-puzzle/src/assets/slide_board.png'); /* Add your image here */
    background-size: cover;
    background-position: center;
    transition: bottom 0.5s; /* Smooth slide transition */
    z-index: 1; /* Ensure it slides under clickable areas */
  }
  
  .slide-panel.visible {
    bottom: 0; /* Slide to cover the screen */
  }


